<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511651686639-4ma1gpmfuekg4svud2fnpqovv7l8rm7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511651686639-4ma1gpmfuekg4svud2fnpqovv7l8rm7v</string>
	<key>API_KEY</key>
	<string>AIzaSyAGh54iVly5L9SzBWulQMmy99ujpVKI1ig</string>
	<key>GCM_SENDER_ID</key>
	<string>511651686639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabTaxt1</string>
	<key>PROJECT_ID</key>
	<string>geetaxi-3ab2f</string>
	<key>STORAGE_BUCKET</key>
	<string>geetaxi-3ab2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511651686639:ios:620e641ca85f9c4aca931a</string>
	<key>DATABASE_URL</key>
	<string>https://geetaxi-3ab2f-default-rtdb.firebaseio.com</string>
</dict>
</plist>